---
import { getCollection } from 'astro:content';
import Container from '../../components/Containers/Container.astro';
import Prose from '../../components/Prose.astro';
import Bio from '../../components/Bio.astro';
import Layout from '../../layouts/Layout.astro';
import { formatDate } from '../../lib/date';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} description={entry.data.description}>
  <Container class="mt-10">
    <article class="mb-20">
      <header class="flex flex-col">
        {
          entry.data.image && (
            <figure class="mb-10 ">
              <div class="border border-gray-100 rounded-lg p-4 mb-2">
                <Image
                  src={entry.data.image}
                  alt={entry.data.imageAlt}
                  class="w-full h-auto"
                />
              </div>
              <figcaption class="text-zinc-500 text-right text-[10px] mr-2">
                Icons from The Noun Project
              </figcaption>
            </figure>
          )
        }

        <h1
          class="mb-4 text-4xl font-extrabold tracking-tight text-zinc-800 sm:text-6xl"
        >
          {entry.data.title}
        </h1>

        {
          entry.data.pubDate && (
            <time
              datetime={entry.data.pubDate}
              class="flex items-center font-semibold text-sm text-zinc-500"
            >
              {formatDate(entry.data.pubDate)}
            </time>
          )
        }
      </header>
      <Prose class="mt-8">
        <Content />
      </Prose>
    </article>

    <Bio titleTag="p" showSocial />
  </Container>
</Layout>
