---
import { getCollection } from 'astro:content';
import Container from '../../components/Containers/Container.astro';
import Prose from '../../components/Prose.astro';
import Bio from '../../components/Bio.astro';
import Layout from '../../layouts/Layout.astro';
import { formatDate } from '../../lib/date';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout
  title={entry.data.title}
  metaTitle={entry.data.metaTitle}
  description={entry.data.description}
  image={entry.data.image?.src ?? ''}
  ogImage={entry.data.ogImage?.src ?? ''}
  slug={`/blog/${entry.slug}`}
>
  <Container class="mt-10">
    <article class="mb-20">
      <header class="flex flex-col">
        {
          entry.data.image && (
            <figure class="border overflow-hidden border-gray-100 rounded-lg mb-10">
              <Image
                src={entry.data.image}
                alt={entry.data.imageAlt}
                class="w-full h-auto"
              />
            </figure>
          )
        }

        {
          entry.data.preTitle && (
            <h5 class="mb-2 font-extrabold text-xl sm:text-2xl text-slate-600 uppercase">
              {entry.data.preTitle}
            </h5>
          )
        }

        <h1
          class="mb-2 text-[2.8rem] font-extrabold leading-[1.1] tracking-tight text-zinc-800 sm:text-[3.5rem]"
        >
          {entry.data.title}
        </h1>

        {
          entry.data.pubDate && (
            <time
              datetime={entry.data.pubDate}
              class="flex items-center font-semibold text-xs text-zinc-500"
            >
              {formatDate(entry.data.pubDate)}
            </time>
          )
        }
      </header>

      <Prose class="mt-8">
        <Content />
      </Prose>
    </article>

    <Bio titleTag="p" showSocial />
  </Container>
</Layout>
