---
import Container from '../components/Containers/Container.astro';
import Prose from '../components/Prose.astro';
import Bio from '../components/Bio.astro';
import Layout from '../layouts/Layout.astro';
import { formatDate } from '../lib/date';

interface Props {
  frontmatter: {
    title: string;
    description: string;
    pubDate: string | null;
  };
}

const {
  frontmatter: { title, description, pubDate }
} = Astro.props;
---

<Layout title={title} description={description}>
  <Container class="mt-16 sm:mt-32">
    <article class="mb-20">
      <header class="flex flex-col">
        <h1
          class="mb-4 text-4xl font-extrabold tracking-tight text-zinc-800 sm:text-6xl"
        >
          {title}
        </h1>

        {
          pubDate && (
            <time
              datetime={pubDate}
              class="flex items-center font-semibold text-sm text-zinc-500"
            >
              {formatDate(pubDate)}
            </time>
          )
        }
      </header>
      <Prose class="mt-8">
        <slot />
      </Prose>
    </article>

    <Bio titleTag="p" showSocial />
  </Container>
</Layout>
